/* Right block (view specific invoices)*/
.invoice-monitor {
	// position: fixed;
	// box-sizing: border-box;
	// right: 0;
	// width: calc(100vw - 800px);
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-basis: 50%;
	max-width: 50%;
	background-color: #015abf;
	background-image: url(../img/tower.png);
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;

	> div {
		// opacity: 0;
		// position: absolute;
		// top: 50%;
		// left: 50%;

		width: 90%;
		max-width: 420px;
		// transform: translateX(-50%)translateY(-50%);

		background: #fff;
		box-shadow: 0px 2px 24px rgba(0,0,0,0.5);

		color: $gray;

		> div:nth-child(2) {

			width: 420px;
			height: 185px;
			padding: 0;
			overflow: hidden;
			img {
				width: 100%;
			}
		}

		> div {
			box-sizing: border-box;
			padding: 0 20px;

			div {
				float: left;
				width: 50%;
			}
		}

		img.close-icon {
			position: absolute;
			bottom: -48px;
			left: 50%;
			transform: translateX(-50%);
			cursor: pointer;
		}

		h3 {
			color: $blue;
			font-size: 24px;
			margin: 22px 20px;
		}

		h4 {
			text-transform: uppercase;
			font-size: 10px;
			margin: 2px 0;
			letter-spacing: 1px;
		}

		p {
			font-size: 14px;
			margin: 0 0 14px 0;
		}
	}
}