/* Normalize */
* {
  font-weight: 300; }

html, body {
  margin: 0; }

html {
  font-family: 'Roboto', sans-serif; }

/* Page header (menu) & invoice list header */
header img {
  position: fixed;
  top: 35px;
  right: 35px;
  z-index: 3; }

header nav {
  position: fixed;
  top: 0;
  left: 100vw;
  right: 0;
  bottom: 0;
  width: 100vw;
  margin-right: -100vw;
  background: #0277FF;
  z-index: 2; }
  header nav ul {
    opacity: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
    header nav ul li {
      position: relative;
      text-align: center;
      font-size: 64px; }
      header nav ul li a {
        display: inline-block;
        color: #fff;
        font-weight: 900;
        padding: 5px 0px;
        text-decoration: none;
        border-bottom: 4px solid rgba(255, 255, 255, 0);
        transition: all 0.1s ease-in-out; }
        header nav ul li a:hover {
          border-bottom: 4px solid white; }

h1 {
  color: #0277FF;
  margin: 29px auto;
  font-size: 28px; }
  h1 span {
    float: right;
    letter-spacing: 2px; }
    h1 span:hover {
      cursor: pointer; }

.flex-wrapper {
  display: flex;
  justify-content: flex-start; }

/* Left block (invoices list) */
.invoice-list {
  flex-basis: 50%;
  max-width: 50%;
  min-width: 700px;
  box-sizing: border-box;
  min-height: 100vh;
  box-shadow: 0px 2px 44px rgba(0, 0, 0, 0.4);
  padding: 0 24px;
  z-index: 1; }
  .invoice-list > div {
    margin: 0 auto 45px; }
    .invoice-list > div form {
      padding: 0px;
      height: 0px;
      overflow: hidden; }
      .invoice-list > div form div {
        padding: 10px 0px; }
        .invoice-list > div form div input {
          box-sizing: border-box;
          width: 100%;
          height: 34px;
          font-size: 14px;
          font-family: 'Roboto';
          padding-left: 33px;
          border: 1px solid #F2F2F2; }
    .invoice-list > div > div {
      border: 1px solid #F2F2F2;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12); }
      .invoice-list > div > div h2 {
        font-size: 18px;
        color: #76767e; }
      .invoice-list > div > div table {
        width: 100%;
        border-collapse: collapse;
        color: #76767e;
        font-size: 14px; }
      .invoice-list > div > div thead,
      .invoice-list > div > div tbody {
        border-top: 1px solid #F2F2F2; }
      .invoice-list > div > div h2,
      .invoice-list > div > div tr > td:first-child,
      .invoice-list > div > div tr > th:first-child {
        padding-left: 33px; }
      .invoice-list > div > div thead th {
        text-align: left; }
        .invoice-list > div > div thead th:hover {
          cursor: pointer; }
        .invoice-list > div > div thead th img {
          vertical-align: middle; }
      .invoice-list > div > div tr {
        height: 40px;
        box-sizing: border-box; }
      .invoice-list > div > div tbody tr:hover {
        background: rgba(195, 195, 195, 0.09);
        cursor: pointer; }
  .invoice-list th.active {
    color: #0277FF; }
  .invoice-list tr.active {
    background: rgba(195, 195, 195, 0.09);
    border-left: 2px solid #0277FF; }

/* Right block (view specific invoices)*/
.invoice-monitor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  max-width: 50%;
  background-color: #015abf;
  background-image: url(../img/tower.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat; }
  .invoice-monitor > div {
    width: 90%;
    max-width: 420px;
    background: #fff;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.5);
    color: #76767e; }
    .invoice-monitor > div > div:nth-child(2) {
      width: 420px;
      height: 185px;
      padding: 0;
      overflow: hidden; }
      .invoice-monitor > div > div:nth-child(2) img {
        width: 100%; }
    .invoice-monitor > div > div {
      box-sizing: border-box;
      padding: 0 20px; }
      .invoice-monitor > div > div div {
        float: left;
        width: 50%; }
    .invoice-monitor > div img.close-icon {
      position: absolute;
      bottom: -48px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer; }
    .invoice-monitor > div h3 {
      color: #0277FF;
      font-size: 24px;
      margin: 22px 20px; }
    .invoice-monitor > div h4 {
      text-transform: uppercase;
      font-size: 10px;
      margin: 2px 0;
      letter-spacing: 1px; }
    .invoice-monitor > div p {
      font-size: 14px;
      margin: 0 0 14px 0; }
